@import "styles/StyleVariables";
.main {
  display: flex;
  flex-direction: column;
  padding: 12px;
  max-width: $screen--lg;
  margin: 0 auto;
}
.app-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.main h1, .main h2 {
  font-weight: 700;
  color: $text-color;
}
.main p,
.main h1,
.main h2 {
  margin: 0;
}

.main > * + * {
  margin-block-start: var(--flow-space, 1em);
}
:is(h1, h2) {
  --flow-space:  1.5em;
}

:is(h1, h2) + * {
  --flow-space: 0.5em;
}

.main p {
  max-width: 75ch;
}

.main h1 {
  line-height: 1.1;
  max-width: 20ch;
  font-size: $size-step-4;
}

.main h2 {
  font-size: $size-step-3;
}

html:focus-within {
  scroll-behavior: smooth;
}



@media (min-width: $screen--lg) {
  .main {
    padding: 24px;
  }
}