.table__header {
  background: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 16px 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
  &:first-child {
    padding: 16px 8px 16px 16px;
  }
  &:last-child {
    padding: 16px 16px 16px 8px;
  }
}

.header-container {
  display: flex;
  justify-content: center;
}
.header-container--sortable {
  justify-content: space-between;
}

.header-container__button {
  width: 16px;
  height: 16px;
  border-style: none;
  padding: 0;
  color: #9E9E9E;
  background-color: transparent;
}

.header-container__icon {
  width: 16px;
  height: 16px;
}
