@import "src/styles/StyleVariables";
.table__row:nth-child(odd){
  background: $primary--pale;
}

.table-row--clickable {
  cursor: pointer;
  &:hover {
    background: var(--row-bg, $primary--hover);
    color: var(--row-color, white);
  }
  &:focus, &:active {
    --row-bg: white;
    --row-color: $primary;
    outline: 2px solid $primary;
    outline-offset: -2px;
  }
}

.table-row--active {
  color: $highlight;
}