@import "src/styles/StyleVariables";

.main--city {
  width: 100%;
  height: 100vh;
}

.city-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.city-container .map {
  height: 100%;
}
