.table-wrapper {
  overflow: auto;
}
.table {
  min-width: 100%;
  position: relative;
  border-collapse: collapse;
  table-layout:fixed
}

@media (min-width: 1024px) {
  .table {
    width: 100%;
  }
  .table-container {
    overflow: unset;
  }
}