
.map {
  height: 400px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}
.mapboxgl-ctrl {
  display: none;
}

.mapboxgl-canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}