$screen--lg: 1024px;
$primary: rgb(0, 119, 255);
$primary--pale: #F2F8FF;
$primary--hover: rgba($primary, 0.7);
$text-color: rgb(0, 16, 75);
$size-step--2: clamp(0.63rem, calc(0.64rem + -0.01vw), 0.64rem);
$size-step--1: clamp(0.80rem, calc(0.78rem + 0.08vw), 0.84rem);
$size-step-0: clamp(1rem, calc(0.96rem + 0.22vw), 1.13rem);
$size-step-1: clamp(1.25rem, calc(1.16rem + 0.43vw), 1.5rem);
$size-step-2: clamp(1.56rem, calc(1.41rem + 0.76vw), 2rem);
$size-step-3: clamp(1.95rem, calc(1.71rem + 1.24vw), 2.66rem);
$size-step-4: clamp(2.44rem, calc(2.05rem + 1.93vw), 3.55rem);